<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.newhdc.pedergb.pushpeng">

    <application
        android:allowBackup="true"
        android:icon="@drawable/x"
        android:label="@string/app_name"
        android:roundIcon="@drawable/x"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name="com.newhdc.pedergb.pushpeng.StartupActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.newhdc.pedergb.pushpeng.LevelWonActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.newhdc.pedergb.pushpeng.MainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.newhdc.pedergb.pushpeng.LevelSelectActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.newhdc.pedergb.pushpeng.SettingsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.newhdc.pedergb.pushpeng.CountDownActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>